/* This file is not in the html folder because if it was it could not be read because of the .htaccess settings */

body 
{
	text-align:center;
	background: #FFFFFF;
	background-color: #CBCBCB;
	font-family: Helvetica, Arial, Verdana, Geneva, sans-serif;
	font-size: 16px;	
	color: #000000;
	height:100%;
}
.standout {color:#CC0000}
.style31 {font-size: 24px}
.style20 {font-weight: bold;}
.bigenum {font-family:"Times New Roman",Georgia,Serif; font-size: 26px; font-weight: bold; }
.note {
	font-size: 12px;
	font-weight: bold;
}

a:link {color:#0066FF; text-decoration: none}    /* unvisited link */
a:visited {color:#0066FF} /* visited link */
a:hover {text-decoration: underline}   /* mouse over link */
a:active {color:#0000FF}  /* selected link */

div.container
{
	margin-left:auto;
	margin-right:auto;
	width:759px;
	height:100%;
	padding:0 0 0 0;

/*border:1px solid gray;
line-height:150%;
*/

}
div.header
{
	padding:0px;
	margin:0px;
	clear:both;
}

div.footer
{
	padding:3px;
	margin:0px;
	color:white;
	/*background-color:gray;
	*/clear:left;
	background-image:url(http://www.caminoaserlibre.com/imagenes/sombrah.jpg);
	background-repeat:repeat-x;
}

div.loginfo
{
	margin:auto;
	padding:0 0 10px 0;
	background-color:white;
	background-image:url(http://www.caminoaserlibre.com/imagenes/sombra.jpg);
	background-repeat:repeat-y;
	clear:both;
	font-size: 12px;
	font-weight:normal;
	text-align:center;
}
div.content
{
	margin:auto;
	height:100%;
	padding:15px 30px 20px 30px;
	background-color:white;
	background-image:url(http://www.caminoaserlibre.com/imagenes/sombra.jpg);
	background-repeat:repeat-y;
	clear:both;
}
div.mincontent
{
	margin:auto;
	height:90%;
	padding:40px 30px 20px 30px;
	background-color:white;
	background-image:url(http://www.caminoaserlibre.com/imagenes/sombra.jpg);
	background-repeat:repeat-y;
	clear:both;
}
div.videos
{
	margin:auto;
	padding:0 0 0 20px;
	background-color:white;
	float:right;
}
div.left
{
	float:left;
}
div.form
{
/*	border-style:solid none solid none;
	border-color:darkblue;
*/	width:460px;
	text-align:left;
}
div.campos
{
width:150px;
text-align:left;
float:left;
}

div.loginform
{
width:280px;
text-align:center;
border-style:inset;
border-width:3px;
background-color:#E8F7F7;
margin:30px 0 10px 40px;
padding: 10px;
float:left;
}
div.signup
{
width:300px;
height:200px;
text-align:center;
vertical-align:middle;
float:left;
clear:right;
margin:30px 0 0 30px;
}
div.hmenu
{
	font-family: Helvetica, Arial, Verdana, Geneva, sans-serif;
	font-size: 16px;

	margin:auto;
	padding:0 0 0 0;
	background-color:white;
	clear:both;
}
.hmenu ul
{
float:left;
width:753px;
height:auto;
color:white;
background-color:white;
	background-image:url(http://www.caminoaserlibre.com/imagenes/sombra.jpg);
	background-repeat:repeat-y;
padding:0 0 0 6px;
border-bottom:2px solid #11376b;
margin:0;
list-style-type:none;
}

.hmenu a
{
float:left;
text-decoration:none;
color:white;
background-color:#7197cb;
padding:0.2em 0.6em;
}
.hmenu a:hover {background-color:#2155FF  /*#ff3300*/ }
li {display:inline}

a.select
{
float:left;
text-decoration:none;
color:white;
background-color:#ff3300;
padding:0.2em 0.6em;
}
a.select:hover {background-color:#2155FF  /*#ff3300*/ }
li {display:inline}


img
{
padding:0 0 0 0;
margin:0 0 0 0;
border:0 0 0 0;
}
.left
{
float:left;
}
.leftm
{
position:relative;
float:left;
z-index:1;
}
.leftmselect
{
position:relative;
float:left;
z-index:3;
}
.foto
{
float:left;
max-width:220px;
/*width='184' height="224" border="4*/
margin:10px 30px 15px 0px;
border:2px solid #2155FF;
}

.rightm
{
position:relative;
float:left;
z-index:2;
margin:0 -6px 0 0;
}
.myNumber
{
	width: 65px;
	height:65px; 
}

table
{
	border-width:0px;
	text-align:center;
	padding:0 0 0 0;
	text-align: center;
	padding: 0 0 0 0;
}



p 
{
	margin:0 0 .7em 0;
}


td 
{
	margin: 0;
	padding: 0 0 0 0;
	text-align:left;
}

h1 /* Main Headers*/ 
{
	font-size: 24px;
	font-weight: bold;
	line-height: 1em;
	margin: 0 0 1em 0;
	padding: 0 0 0 0;
	text-align:center;
}
.red
{
	color:red
}

h2 /* Main Headers*/ 
{
	font-size: 20px;
	font-weight: bold;
	line-height: 1em;
	margin: 0 0 1em 0;
	padding: 0 0 0 0;
	text-align:center;
}


h3 /* Section Titles*/
{
	font-size: 18px;
	font-weight: bold;
	line-height: 1.3em;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	text-align:left;
}
.red
{
	color:red
}


/* styling of the container. */
a.myPlayer {
	display:block;
	width: 320px;
	height:264px; 
	text-align:center;
	margin:0 0 15px 0;
/*	float:left;
*/	border:4px solid #000;
}

/* play button */
a.myPlayer img {
	margin-top:80px;
	text-align:center;
	border:0px;
}

/* when container is hovered we alter the border color */
a.myPlayer:hover {
	border:4px solid #999;
}
